/*navbar*/
header{
    background-color: #009488;
    height: 30vh;
    position: fixed;
    width: 100%;
}

body{
    background-color: lightgray;
}

.information-text{
    color: gray;
}
 a{
    color: black;
}
/*BIG BOX*/
.box{
    background-color: lightgray;
    position: relative;
    overflow: scroll;
    top: 20px;

}
.border{
        border-right: 1px solid lightgray;
                overflow: scroll;

}
.container-frontal{
    margin-bottom: 20px;
}

.container-box{
    background-color: white;
    height: 10vh;
}
}
/*IMAGE*/
.box img{
    width: 47px;
}
/*INPUT*/

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background-color: white;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 2px;    
}
hr{
    margin-bottom: 0;
    width: 100%;
}

/*Container conversations*/
.container-whatsapp-conversations img{
    width: 40px;

}
.container-whatsapp-conversations {
    border-bottom: 1px solid gray;
    height: 10vh;
    background-color: whitesmoke;
    position: relative;
}
.paragraph{
    margin-top: 20px;
}
/*SECOND PART*/
.container-second{
    background-image: url(../img/chat-panel-bg.png);
    width: 100%;
    height: 78vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*TEXTED*/
.green{
    background-color: green;
    border: 1px solid  lightgray;
    border-radius: 20px;
    text-align: center;
    width: 30%;
}